################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ve.KodeKata.Martian/Ve.KodeKata.Martian.FormsUI/bin/Debug
